@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", serif;
}
.noto {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  font-family: "Noto Sans", serif !important;
}
.small {
  font-variant: small-caps !important;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Set width of the scrollbar */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent background for the scrollbar track */
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #111827; /* Dark color for the scrollbar thumb */
  border-radius: 20px; /* Optional: Rounded corners for the thumb */
}

/* body {
  cursor: none;
} */


@keyframes textAnimationw {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}


@keyframes textAnimationb {
  0% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  50% {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}

@keyframes textAnimationb40 {
  0% {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
  50% {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
  }
  100% {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
}

  


.ctextw:hover {
  animation: textAnimationw 1.5s ease-in-out infinite;

}

.ctextb:hover {
  animation: textAnimationb 1.5s ease-in-out infinite;
}

.ctextb40:hover {
  animation: textAnimationb40 1.5s ease-in-out infinite;
}

.cscale:hover {
  transform: scale(1.02) !important;
  /* transition: transform 0.3s !important; */
}

.cscale3:hover {
  transform: scale(1.03) !important;
  /* transition: transform 0.3s !important; */
}


.cscale5:hover {
  transform: scale(1.05) !important;
  /* transition: transform 0.3s !important; */
}


.cscale10:hover {
  transform: scale(1.1) !important;
  /* transition: transform 0.3s !important; */
}

.cscale20:hover {
  transform: scale(1.2) !important;
  /* transition: transform 0.3s !important; */
}




.cscale, .cscale3, .cscale5, .cscale20, .cscale10 {
  transition: transform 0.3s ease-in-out !important;
}
